/* CSS Document */
body {
	margin-left: 50px;
	margin-top: 0px;
	margin-right: 50px;
	margin-bottom: 50px;

	letter-spacing:1.5pt;
	word-spacing:3pt;
	line-height:20pt;
	text-align:left;
}

a:link {color:white;}
a:visited {color:white;}
a:hover {font-weight:bold;}
a:active {font-weight:bold; font-size:large;}

h1{text-align:center; font-size:14pt; font-family:verdana; color:#FFFFFF; font-weight:bold;}
h2{text-align:center; font-size:12pt; font-family:verdana; color:Black; font-weight:bold;}
h3{text-align:center; font-size:11pt; font-family:verdana; color:Black; font-style:italic;}


* {
padding: 0;
margin: 0;
}
body {
font-size: 73%;
font-family: verdana, arial, helvetica, sans-serif;
padding: 10px;
}
#navigation {
overflow: auto;
}
#navigation li {
float: left;
list-style: none;
background-color: #666; /* to cater for users without images */
}
#navigation a {
display: block;
background-image: url(css-tabs/tabright.gif);
background-position: top right;
background-repeat: no-repeat;
color: #FFF;
text-decoration: none;
font-weight: bold;*/
}
#navigation span {
display: block;
background-image: url(css-tabs/tableft.gif);
background-repeat: no-repeat;
padding: 5px 15px;
}
#navigation a:hover {
background-position: right -198px;
}
#navigation a:hover span {
background-position: 0 -198px;
}




#navigation li ul {
position: absolute;
width: 10em;
left: -999em;
margin-left: 2px;
font-size: 90%;
}






#navigation li ul a, #navigation li ul a:link {
background-image: none;
padding: 5px;
width: 10em;
background-color: #77bbff;
}
#navigation li ul a:hover {
background-color: #333;
}





#navigation li:hover ul, #navigation li.sfhover ul {
left: auto;
}



.button 
{ border: thin ; font-size: 15px; color: #FFFFFF; font-weight: normal; font-family: arial; background-color: #004488; text-decoration: none; 
} 
