/* CSS Document */
body {
	margin-left: 10px;
	margin-top: 100px;
	margin-right: 10px;
	margin-bottom: 50px;
	
	background-color: #C7CEFE;
}

a:link {color:#004488; font-weight:bold}
a:visited {color:#004488; font-weight:bold}
a:hover {color:black; font-weight:bold;}
a:active {color:black;}